* {
    margin: 0;
    padding: 0;
}

$tiempo: verano;

body{
    @if $tiempo == verano{
        background-color: #e9ecf4;
        color: #000;
        font-family: sans-serif;
    } @else if $tiempo == otoño{
        background-color: peru;
    } @else if $tiempo == invierno{
        background-color: aquamarine;
    } @else {
        background-color: #7990d1;
    }
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    
}