.menu{
    width: 100%;
    background: $colorPrincipal;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    ul{
        list-style: none;
        border-radius: 10px;
        li{
            display: inline-block;
           padding: 25px 30px;  
            transition: all .3s ease;
            border-radius: 10px;
            a{
                color: #fff;
                text-decoration: none;
                font-family: 'Times New Roman', Times, serif;
             } 
        }
    }
} 

.menu ul li:hover{
    transform: scale(1.2);
    background: #4f772d;
}