/* VARIABLES */
$colorPrincipal: #132a13;
$colorh2: #132a13;
$colorh3: #31572c;
$colorh4: #4f772d;
$colorh5: #90a955;
$colorh6: #ecf39e;

/* OPERACIONES */
$tamañoFuente: 50px;

@import "general";  /* CONDICIONALES */
@import "nav";

/* @EACH y @FOR  = Lo entiendo, vi la explicacion de la profe varias veces pero no se donde aplicarlo en la pagina */

/* ANIMACION */
.contenedor .header .fotoMenu img{
    animation: palpitar 5s linear infinite alternate;
    will-change: transform;
}

@keyframes palpitar{
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(0deg) scale(0.95);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.contenedor {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    
    grid-template-areas: "header header header"
    "contenido contenido contenido"
    "widget-1 sidebar widget-2"
    "footer footer footer";

.header {
        background: #132a13;
        color: #fff;
        grid-area: header;
        .fotoMenu img {
            max-width: 100%;
            border-radius: 10px;
        }
    }
}

.contenedor .contenido {
    grid-area: contenido;    
    padding: 40px;
    h1 {
        font-size: $tamañoFuente;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        
    }
    h2 {
        color: #fff;
        font-size: $tamañoFuente/2;
        padding: 30px;
        text-align: center;
        background: $colorh2;
        border-radius: 10px;
    }
    h3 {
        color: #fff;
        font-size: $tamañoFuente/2;
        padding: 30px;
        text-align: center;
        background: $colorh3;
        border-radius: 10px;
    }
    h4 {
        font-size: $tamañoFuente/2;
        padding: 30px;
        text-align: center;
        background: $colorh4;
        border-radius: 10px;
    }
    h5 {
        font-size: $tamañoFuente/2;
        padding: 30px;
        text-align: center;
        background: $colorh5;
        border-radius: 10px;
    }
    h6 {
        font-size: $tamañoFuente/2;
        padding: 30px;
        text-align: center;
        background: $colorh6;
        border-radius: 10px;
    }
    p {
        text-align: justify;
        padding: 20px;
        line-height: 20px;
    }
}

.contenedor .sidebar {
    font-size: 30px;
    grid-column: 3 / 4;
    background: #936639;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
    
} 
.widget-1,
.widget-2 {
    background: #a68a64;
    font-size: 30px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.widget-2 {
    background: #7f4f24;
} 
.widget-1 {
    grid-area: widget-1;
} 
 .widget-2 {
     grid-area: widget-2;
    } 
    
    .contenedor .footer {
        background: #582f0e;
        color: #fff;
        grid-area: footer;
        .footercontenedor .titulofooter {
            color: #fff;
            display: flex;
            justify-content: center;
            padding: 20px;
        }
        .copy {
            color: #fff;
            display: flex;
            justify-content: center;
            padding: 20px;
        }
        .redes {
            display: flex;
            justify-content: center;
            i {
                font-size: 30px;
                padding: 0 20px;
            }
        }
}    
    
    .contenido .profes{
        margin: 0 auto;    
        display: flex;
        justify-content: center;
        align-items: center;   
        text-align: center;    
        padding: 20px;
        height: 25vh;
}
        
    @media screen and (max-width: 768px) {
        .contenedor {
            grid-template-areas: "header header header"
            "contenido contenido contenido"                         
            "widget-1 widget-1 widget-1"
            "sidebar sidebar sidebar"
            "widget-2 widget-2 widget-2"
            "footer footer footer";
        }
        
}